.game {
    margin: 50px;
    background-color: rgb(164, 231, 231);
    border: solid black 2px;
    height: 500px;
    width: 500px;
}
.box {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: solid black 1px;
    animation-play-state: paused;
}

.player {
    transform: translateY(225px);
    background-color: rgb(52, 145, 238);
    animation: move 4s infinite linear; 
    animation-play-state: paused;  
}

/* .player:active {
    animation-play-state: running;
} */
.game:hover .enemy{
    animation-play-state: running;
}
.game:active .player {
    animation-play-state: running;
}

.enemy {
    margin-left: 100px;
    background-color: orangered;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.enemy.one{
    animation-duration: 3s;
} 

.enemy.two{
    animation-duration: 5s;
}

@keyframes bounce {
    50% {
        transform: translateY(450px)
    }
}

@keyframes move {
    50% {
        transform: translateY(225px) translateX(450px);
    }
}