.container{
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
   /* display: flex;*/
   display: inline-flex;
    margin: 40px;
    flex-wrap: wrap;

    flex-direction: row-reverse;
}

.item-1{
    width: 70px;
    height: 70px;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px;
}