.container{
    width: 400px;
    height: 400px;
    margin: 10px; 
    background-color: antiquewhite;
    border: 3px solid red;
}

.item{
    border: 3px solid red;
    width: 130px;
    margin: 20px;
    
    height: 30px;
    background-color: aqua;
}